<%= form_with model: pigeon do |p| %>
  <div>
    <%= p.label :name %>
    <%= p.text_field :name %>
  </div>
  <div>
    <%= p.label :age %>
    <%= p.number_field :age, in: 0.0..20.0, step: 0.1 %>
  </div>
  <div>
    <%= p.label :cuteness %>
    <%= p.text_field :cuteness %>
  </div>
  <div>
    <%= p.label :softness %>
    <%= p.text_field :softness %>
  </div>
  <div>
    <% if Pigeon.exists?(pigeon.id) %>
      <%= p.submit "Update birb information" %>
    <% else %>
      <%= p.submit "Add new birb" %>
    <% end %>
  </div>
<% end %>